{% extends "../layout.html" %}
{% load static %}

{% block title %}RoadMap{% endblock %}

{% block content %}
    <div class="search-container">
        <img class="w-80 md:w-96 mix-blend-multiply" src="{% static 'images/logo.png' %}" alt="Future Scout">
        <form class="flex items-stretch [&>select]:w-[80vw] [&>select]:max-w-lg drop-shadow-2xl rounded-full" method="post">
            {% csrf_token %}
            {{ form.current_level }}
            <button class="!bg-rose-500 p-3 rounded-r-full" type="submit"><img src="{% static 'images/search.png' %}" width="30" alt="Search"></button>
        </form>
    </div>
{% endblock %}